header{
    background-color: lightblue;
    padding: 1px;
    margin: 0px;
    text-align: center;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
}

#navbar{    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-button{
    font-size: min(3vw,30px);
    padding: min(2vw,10px) min(2vw,10px);
    margin: min(2vw,10px);
    border: 5px solid darkblue;
    background-color: #a2a2ff;
    font-weight: bold;
    border-radius: 10%;
    width: 20vw;
    max-width: 200px;
}

.navbar-button:hover{
    background-color: #4a4aff;
}

.nav-text{
    font-size: min(3vw,30px);
    font-weight: bold;
    margin: 0px 10px 0px 30px;
}

.nav-input{
    font-size: min(2vw,25px);
    height: min(3vw,30px);
    margin: 0px min(4vw,70px) 0px 0px;
}
#sort-playlists{
    width: 15vw;
}

#search-box{
    width: 20vw;
}